
table{
    width: 60%;
    height: 20px;
    margin: 0 auto;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
}

th{
    border-bottom: .2em solid #004400;
    border-radius: 8px 8px 0 0;
    background-image: linear-gradient(#32127c, #208a20);   
    color: #ffffff;
    padding: 2% 0 2% 0;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition: all;
}


th:first-child{
    text-align: left;
    padding-left: 5px;
}

th:not(:first-child){
    text-align: center;
}


td:first-child{
    text-align: left;
    padding-left: 5px;
}

tr:not(:first-child){
    text-align: center;
}


tr:not(:first-child){
    opacity: 0.7;
    background-color: #b8dd9a;
}


tr:not(:first-child):hover{
    opacity: 1;                
    background-color: #a88052;
}
td{
    padding: 1.2% 0 1.2% 0;
}

td:hover{
    text-shadow: 0 0 4px #dd0000;   
    background-image: radial-gradient(#dddd00, #52a85c);
}

th:hover{
    text-shadow: 2px 2px 5px #dd0000;
    transform: translateY(-15%)    
}


/* Styling Web page */
body{
    padding: 0.5%;
    margin: 0.5%;
}
header{
    background-color: #ccdbb0;
    background-image: url(images/flywheel.jpg);
    background-size: 100%;
    padding: 2%;
}

h1{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2.5vw;        
}

nav a{		       
    display: inline-block;
    margin-left: 5%;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    padding: 1% 5%;
    font-size: 2vw;         
    color: #000;
    background-color: #ccc5;
}

.active{
    color: rgb(0, 32, 136);
    background-color: #fffc;
}

nav a:hover{        
    background-color: #0b05;
}

nav a:focus{       
    background-color: #0b05;
}

.left{		        
    float: left;
    width: 20%;
    padding: 2%;
    height: 100vh;
    background-color: #770;
    text-align: center;
    margin-right: 15px;
}

.left img{        
    border: 3px solid #020;
    width: 17vw; /*60%*/
    margin: 8% 2%;
}

.right{

    background-image: linear-gradient(rgba(192, 236, 236, 0.467), #fff);
    padding: 2.5%;
    font-size: 1.4vw;
}

.right ul{
    margin-left: 25%;
}

h2{
    display: inline;
    color: #a05e13;
    text-transform: uppercase;
}

